body{
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
    background-color: whitesmoke;
}
.Header{
    display: flex;
    padding: 5%;
    background-color: whitesmoke;
    align-items: center;
    object-position: center;
    justify-content: center;
    height: 30px;
    border-bottom: 1px solid rgb(227, 227, 227);
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    transition: height 0.5s ease-in-out;
   
}
.middle-section{
    text-align: center;

}
.Header a{
    border-radius: 4px;
    text-decoration: none;
    font-size: 18px;
    background-color: whitesmoke;
    color: black;
    margin:0 2px;
    font-family:'Courier New', Courier, monospace;
    font-style: italic;
    padding: 3px;
    /* padding-left: 5px; */
    text-align: center;
    
    
}
.Header a:hover{
    background-color: #ddd;
    color:black;
    margin: 0 20px;
}
.vertical-line{
    border-left: 1px solid black;
    height: 50px;
    margin: 0 5px;
}

.main-section{
    /* background-color: whitesmoke; */
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    padding: 5%;
    
    
}
.first-box{
    flex: 1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
    background-color: whitesmoke;
    height: 100vh;
    text-align: center;
 
}
.img-design{

}

@media screen and (max-width: 500px) {
    .Header{
        padding: 1px;
    }
    .Header a{
        font-size: 12px;
        padding: 5px 8px;
    }
    .vertical-line{
        height: 8px;
        margin: 0, 3px;
    }
}